/* reset */
button {
	all: unset;
}

.SwitchRoot {
	width: 42px;
	height: 25px;
	background-color: var(--color-surface-alt);
	border-radius: var(--border-radius-lg);
	position: relative;
	box-shadow: var(--elevation-sm);
	z-index: var(--z-index-raised);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:focus {
		box-shadow: 0 0 0 2px var(--color-focus-ring);
	}
	&[data-state="checked"] {
		background-color: var(--color-primary);
	}
}

.SwitchThumb {
	display: block;
	width: 21px;
	height: 21px;
	background-color: var(--color-surface);
	border-radius: var(--border-radius-lg);
	box-shadow: var(--elevation-sm);
	transition: transform 100ms;
	transform: translateX(2px);
	will-change: transform;
	z-index: var(--z-index-raised);
	&[data-state="checked"] {
		transform: translateX(19px);
	}
}

.Label {
	color: var(--color-text-primary);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	line-height: 1;
	user-select: none;
}
